.intro-black-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	background: #202020;
	width: 100vw;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	opacity: 0;
	transition: all 1.3s ease-in-out;
	.stripes {
		width: 25vw;
		height: 100%;
		border-right: 1px solid #383838;
		box-sizing: border-box;
	}
	img {
		display: inline-block;
		width: 110px;
		height: 85px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.intro-black-block--second {
	img {
		width: 526px;
		height: 40px;
	}
}

.intro-black-block--third {
	img {
		width: 288px;
		height: 40px;
	}
}

.intro-black-block {
	opacity: 1;
	transition: all 1.3s ease-in-out;
}

.img-arrow-up {
	position: absolute;
	top: -200%;
	left: calc(50% - 15px);
	opacity: 0;
	animation: fadeInAndMoveDown 1s ease-in-out 0.5s;
}

.img-logo-center {
	position: absolute;
	top: 50%;
	left: calc(50% - 50px);
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: fadeInAndShrink 1.3s ease-in-out forwards;
}

.img-logo-bottom {
	position: absolute;
	bottom: -90%;
	left: calc(50% - 50px);
	opacity: 0;
	animation: fadeInAndMoveUp 1s ease-in-out 0.5s;
}

.intro-black-block--first,.intro-black-block--second, .intro-black-block--third {
   img {
      opacity: 0; /* начальное значение прозрачности */
      animation: fade-in 1s ease-in-out forwards; /* анимация с затуханием */
	}
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}


@keyframes fadeInAndMoveDown {
	0% {
		opacity: 0;
		transform: translate(-50%, -200%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -120%);
	}
}

@keyframes fadeInAndShrink {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(2.2);
	}

	70% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes fadeInAndMoveUp {
	0% {
		opacity: 0;
		transform: translate(-50%, 200%);
	}

	100% {
		opacity: 1;
		transform: translate(-50%, -22%);
	}
}



